*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    min-height: 100vh;
    width: 100vw;
    background-color: hsl(148, 38%, 91%);
    padding: 120px 0;
    color: hsl(187, 24%, 22%);

}
.container{
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    width: 60%;
    min-width: 350px;
}
h2{
    margin: 20px 0;
    font-weight: 700;
}
input{
    height: 40px;
}
input:hover{
    cursor: pointer;
}
label:hover{
    cursor: pointer;
}
#gridCheck:checked #flexRadioDefault1:checked #flexRadioDefault2:checked{
    background-color: #6c757d;
} 

.form-check-input:checked {
    background-color: #6c757d;
    border-color: #6c757d;
}
.form-control{
    border: solid 1px #6c757d;
}
.form-control:hover{
    border: solid 1px black;
}
.form-check{
    border: solid 1px;
    border-radius: 10px;
    padding: 20px;
}
.form-check .form-check-input {
    margin-left: 0;
}
.form-check-label{
    margin-left: 10px;
}
.consent{
    border: 0;
    padding-left: 0;
}
.btn:hover{
    background-color: black;
}
#Alert{
    position:  absolute;
    background-color:  hsl(187, 24%, 22%);
    padding: 25px;
    color: white;
    z-index: 100;
    top: 50px;
    left: calc(50vw - 175px);
    right: 50%;
    width: 350px;
    border-radius: 10px;
    display: none;
}
.invalid{
    margin-top: 5px;
    color:  hsl(0, 66%, 54%);
    display: none;
}